.listSection{
	background-color:rgba(0,0,0,0.2);
	color: #fff;
	padding-top: 30px;
	height: 600px;
	margin: auto;
	margin-top: 50px;
}
.empTable{
	border-collapse: collapse;
	border: 1px solid #666;
	width: 80%;
	margin: auto;
	margin-top: 50px;
}

.empTable th, .empTable td{
	padding: 20px 0px;
	border: 1px solid #666;	
}
