body{
  background-color: #fff;
  color: #333;
}

.mainContent{
  background-color: #ddd;
  height: 600px;
  padding: 15px;
}

.pageTitle{
  font-size: 18px;
  color: #333;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #aaa;
}

.page{
	background-color: #fff;
	border-top: 3px solid #3c8dbc;
	height: 500px;
  box-shadow: 0px 0px 3px #666;
}

label{
	font-weight: normal !important;
}

input[type=radio]{
  width: 24px;
  height: 24px;
  background-color: #ff0  !important;
  color: #ff0 !important;
}

input[type=checkbox]{
  width: 30px;
  height: 24px;
  background-color: #ff0  !important;
  color: #ff0 !important;
}

.formRow{
  margin-top: 10px;  
}

.errMsg, .asterik{
  color: #f00;
  font-size: 12px;
}

